<H2>Admin Page</H2>
<p>Enter login and password:</p>

<form action='/admin' method='POST'>
	Login:<br>
	<input type='text' name='admin_user'>
	<br>
	Password:<br>
	<input type='password' name='passwd'>
	<br>
	<input type='submit' value='SEND'>
</form>
