<html>

<head>
	 <link href="/styles.css" rel="stylesheet" media="all" />
</head>

<body>

<H1>Welcome to Barber Shop</H1>
<p>We are open.</p>

	<form action="/" method="POST">
		Enter name:<br>
		<input type="text" name="user_name"><br>
		Phone number:<br>
		<input type="text" name="phone"><br>
		Date and time:<br>
		<input type="text" name="date_time"><br><br>
		<input type="submit" value="Submit">
	</form>

</body>

</html>
